md-fab-speed-dial(md-open="menuOpen", md-direction="down", ng-class="md-fling")
  md-fab-trigger
    md-button(class="md-fab md-warn")
      md-icon(class="material-icons") menu
  md-fab-actions
    md-button(class="md-fab md-raised md-mini")
      md-icon(class="material-icons") twitter
