
$fa-font-path: "../bower_components/font-awesome/fonts";

@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

[ui-view] {
  pointer-events: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@import url(https://fonts.googleapis.com/css?family=UnifrakturMaguntia);

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/footer/footer.scss';
// endinjector
