md-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  h2[flex] {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 2em;
    text-align: center;
  }
}

[ui-view] > md-content {
  background-color: transparent;
  margin-top: 64px;

  md-content {
    background-color: #FFF;
    pointer-events: all;
  }
}
