#map {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

#view-main {
  background-color: transparent;
  pointer-events: none;

  md-content {
    pointer-events: none;

    *:not(md-content) {
      pointer-events: all;
    }
  }
}
