md-toolbar(layout="row")
  div(class="md-toolbar-tools")
    md-button(class="md-icon-button" aria-label="Settings")
      md-icon(class="material-icons") menu
    h2
      span GovTime

    span(flex)
    md-button(class="md-icon-button" aria-label="More")
      md-icon(class="material-icons") more_vert
