#view-main {
  #map {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
  }

  & > md-content {
    background-color: transparent;
    pointer-events: none;

    & > * {
      pointer-events: all;
    }

    md-content {
      background-color: #FFF;
    }
  }
}
